<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table th:border = "1" th:align="center">
    <thead>
    <tr>
        <th scope="col">Brand</th>
        <th scope="col">Serial</th>
        <th scope="col">Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="car : ${cars}" >
        <td th:text="${car.getBrand}"></td>
        <td th:text="${car.getSerial}"></td>
        <td th:text="${car.getColor}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>